<meta
  itemprop="name"
  content="Confirm Email"
  style="
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    box-sizing: border-box;
    font-size: 14px;
    margin: 0;
  "
/>
<table
  width="100%"
  cellpadding="0"
  cellspacing="0"
  style="
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    box-sizing: border-box;
    font-size: 14px;
    margin: 0;
  "
>
  <tr
    style="
      font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
      box-sizing: border-box;
      font-size: 14px;
      margin: 0;
    "
  >
    <td
      class="content-block"
      style="
        font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
        box-sizing: border-box;
        font-size: 14px;
        vertical-align: top;
        margin: 0;
        padding: 0 0 20px;
      "
      valign="top"
    >
      Hi <%= fullName %>,
    </td>
  </tr>
  <tr
    style="
      font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
      box-sizing: border-box;
      font-size: 14px;
      margin: 0;
    "
  >
    <td
      class="content-block"
      style="
        font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
        box-sizing: border-box;
        font-size: 14px;
        vertical-align: top;
        margin: 0;
        padding: 0 0 20px;
        line-height: 1.5em;
      "
      valign="top"
    >
      Please confirm your email address by clicking the link below.<br />
      Once you confirm, an admin from CBF will grant you access to our resources.
    </td>
  </tr>
  <tr
    style="
      font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
      box-sizing: border-box;
      font-size: 14px;
      margin: 0;
    "
  >
    <td
      class="content-block"
      itemprop="handler"
      itemscope
      itemtype="http://schema.org/HttpActionHandler"
      style="
        font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
        box-sizing: border-box;
        font-size: 14px;
        vertical-align: top;
        margin: 0;
        padding: 0 0 20px;
      "
      valign="top"
    >
      <a
        href="<%= url.resolve(sails.config.custom.baseUrl, '/email/confirm') + '?token=' + encodeURIComponent(token) %>"
        class="btn-primary"
        itemprop="url"
        style="
          font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
          box-sizing: border-box;
          font-size: 14px;
          color: #fff;
          text-decoration: none;
          line-height: 2em;
          font-weight: bold;
          text-align: center;
          cursor: pointer;
          display: inline-block;
          border-radius: 5px;
          text-transform: capitalize;
          background-color: #243b53;
          margin: 0;
          border-color: #243b53;
          border-style: solid;
          border-width: 10px 20px;
        "
      >
        Confirm email address
      </a>
    </td>
  </tr>
  <tr
    style="
      font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
      box-sizing: border-box;
      font-size: 14px;
      margin: 0;
    "
  >
    <td
      class="content-block"
      style="
        font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
        box-sizing: border-box;
        font-size: 14px;
        vertical-align: top;
        margin: 0;
        padding: 0 0 20px;
      "
      valign="top"
    >
      &mdash; Calvary Bible Fellowship
    </td>
  </tr>
</table>
